@font-face {
	font-family: "Geist";
	src:
		url("client/fonts/VF.ttf") format("truetype"),
		url("client/fonts/VF.woff") format("woff"),
		url("client/fonts/VF.woff2") format("woff2");
	font-weight: 100 900;
	font-stretch: 50% 200%;
	font-display: swap;
	font-style: normal;
}

html {
	font-family: "Geist", sans-serif;
	color-scheme: dark light;
}

* {
	min-width: 0;
	font: inherit;
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

img,
figure,
video,
svg {
	display: block;
	height: auto;
	max-width: 100%;
}

body {
	margin: 0;
	min-height: 100dvh;
	min-height: 100vh;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
	text-wrap: balance;
}

p {
	text-wrap: pretty;
	line-height: normal;
	margin: 0;
}

a {
	text-decoration: none;
}

li,
ul {
	list-style: none;
	margin: 0;
	padding: 0;
}
